
<div class="container">
  <div class="p-5 mt-3 bg-light rounded">
    <h1 >{{name}}</h1>
      <h1>
    <div *ngIf="isAdmin()">
      <p>Selam Admin!</p>
    </div>
    </h1>

    <div>
    <button (click)="getUserInfo()" class="button-85" role="button">Get User Info</button>
  </div>

    <div *ngFor="let user of userInfo | keyvalue">
      {{user.key}}: {{user.value}}
    </div>
    <br><br>
    <button (click)="getAccessToken()"  class="button-85">See token</button>
    <div >
      {{token}}
    </div>





  </div>
</div>
